*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  /* scale: 2; */
  shape-rendering: crisp-edges;
}

.map {
  --grid-size: 0px;
  --game-speed: 0ms;

  outline: 1px solid black;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 96%, rgba(0, 0, 0, 0.15) 96%),
    linear-gradient(90deg, rgba(0, 0, 0, 0) 96%, rgba(0, 0, 0, 0.15) 96%);
  background-size: var(--grid-size) var(--grid-size);
  position: relative;
}

.snake {
  position: absolute;
  background-color: black;
  border: 1px solid green;
  width: var(--grid-size);
  height: var(--grid-size);
  z-index: 1;

  transition: calc(var(--game-speed) * 0.25) ease-in-out;
}

.apple {
  position: absolute;
  background-color: rgb(145, 0, 0);
  width: var(--grid-size);
  height: var(--grid-size);
}
